
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&family=Yeseva+One&display=swap');
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),
                url(images/hero_background.svg) center/cover;      
    padding-left: 134px;
}
.hero-block {
    display: flex;
    flex-direction: column;
}
.header,
.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;    
    background-color:#131313 ;
    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-size: 11px;
}
.header-height-83 {
    height: 83px;
}
.header-footer__logo {
    color: #E3B873;
}
.header-footer__nav {
}
.header-footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    list-style: none;
    cursor: pointer;
}
.header-footer__link {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 11px;
}
.header-footer__tel__link {
    color: #E3B873;
    border: none;
    font-size: 11px;
    cursor: pointer;
}
.header-footer__link:hover,
.header-footer__tel__link:hover {
    color: #ff9d00;
}
.header-footer__call_request_btn {
    width: 161px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 2px;   
    border: none;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.header-footer__call_request_btn:hover {
    background: #ff9d00;
    cursor: pointer;
}
.hero__header {
    color: #FFF;
    font-family: Yeseva One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%; /* 53.13px */
    text-transform: uppercase;
    margin: 194px auto 19px 0;
}
.city_highlight {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%;
    text-transform: uppercase;
}
.hero__text {
    max-width: 30%;
    color: #FFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 36.01px */
    margin: 0 0 41px 0;
}
.hero__buttons_container {
    display: flex;
    gap: 20px;
    margin: 0 0 208px 0;
}

.hero_btn {
    width: 207px;
    height: 51px;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;    
}
.hero_btn:hover {
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    cursor: pointer;
}
.completed_projects__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;   
    background:#131313;   
}
.completed_projects__description {
    display: flex;
    flex-direction: column;
    max-width: 442px;

}
.completed_projects__w375_image {
    display: flex;
    flex-direction: column;    
}
.w375_image_slider {
    display: flex;
    width: fit-content;
    background: transparent;
    border: none;     
}
.left {
    position: relative;
    left: 5%;
    top: -50%;
}
.right {
    position: relative;
    left: 82%;
    top: -60%;
}

.completed_projects__description__main_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_block__header {
    color: #E3B873;
    font-family: Yeseva One, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 37.422px */
    letter-spacing: -1.89px;
    text-transform: uppercase;
    margin: 176px 0 34px 0;
}
.main_block__description {
    color: #FFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%; /* 26.734px */
    margin: 0 0 42px 0; 
}
.completed_projects__secondary_group {
    display: grid;
    grid-template-columns: 156px auto;
    grid-template-rows: 107px 134px;    
}
.secondary_block__header {
    color: #E3B873;
    font-family: Yeseva One, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 24.948px */
    text-transform: uppercase;
}
.secondary_block__description {
    color: #FFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 21.278px */
}
.completed_projects__slider {
    display: flex;
    gap: 18px;
}
.slider_dots {
    display: flex;
    margin-top: 2px;
    gap: inherit;
}
.slider_dots_item {
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.completed_projects__nav {
    margin: 107px 0 53px 0;
}
.completed_projects__nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style: none;
    cursor: pointer;
}
.completed_projects__city {
    color: rgb(255, 255, 255);
    font-family: Yeseva One, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 19.404px */
    text-transform: uppercase;
    text-decoration: none;
    border: none;      
}
.completed_projects__city:hover {
    color: #E3B873;
    font-family: Yeseva One, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 19.404px */
    text-transform: uppercase;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 7px;   
}
.completed_projects__image_block {
    display: flex;
    flex-direction: column;    
}
.completed_projects__img {
    display: flex;
    max-width: 679px;    
}
.online_control__background {
    background-color:#131313;    
    height: 329px;;
}
.online_control__container {
    display: flex;       
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 148px;
    margin-top: -321px;
}
.online_control__video_wrapper {
    margin: 0 0 31px 0;
}
.broadcast_request {
    display: flex;
    flex-direction: column;
}
.broadcast_request_description {
    display: flex;
    flex-direction: row;
    max-width: 681px;
    margin: 35px 0 93px 0;
}
.broadcast_request_description__text {
    color: #363636;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%; /* 36.828px */
}
.broadcast_request__submit_section {
    display: flex;
    flex-direction: row;
    gap: 58px;
}
.data_input__container {
    display: flex;    
    flex-wrap: wrap;
    gap: 68px;
}
.data_input {
    display: flex;
    flex-direction: column;
}
.input_designator {    
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 21.278px */
}

.input_field {
    appearance: none;
    border: none;
    height: 17px;
    margin-bottom: 8px;
    background-color: transparent;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 22.915px */
}
.dark {
    color: rgba(54, 54, 54, 0.50);
}
.bright {
    color: rgba(255, 255, 255, 0.50);
}
.black_font,
.black_font::placeholder {
    color: #363636;     
}
.black_border {
    border-bottom: 1px solid rgba(119, 118, 118, 0.5);
}
.white_font,
.white_font::placeholder,
#input_field_white_font_w375_Name::placeholder,
#input_field_white_font_w375_Phone::placeholder {
    color: #ffffff;

}
.white_border {
    border-bottom: 1px solid #717171;
}
#input_field_white_font_w375_Name,
#input_field_white_font_w375_Phone {
    border: none;
    border-bottom: 1px solid #ffffff;
}
.long_border {
    width: 300px;
}
.yellow_font {
    color: #E3B873;
}
.submit_btn {
    width: 200px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 2px;    
    border: none;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.submit_btn_online_control_positioner {
    display: flex;
    justify-content: center;
}
#submit_btn_questions,
#submit_btn_online_control {
    width: 340px;
    height: 51px;
    margin-top: -25px;
}
.submit_btn:hover {
    background: #ff9d00;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    cursor: pointer;
}
.online_control__personal_data_processing_agreement {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
#personal_data_processing_agreement_online_control {
    margin-bottom: 87px;
}
.measurer__personal_data_processing_agreement {
    display: flex;
    margin: 8px 0 39px 0;
}
.personal_data_processing_agreement {
    display: flex;
    justify-content: center;
}
.checkbox {
    display: none;
}
.checkbox_label {    
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 22.915px */
    cursor: pointer;
}
.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before {
    opacity: 1;
}
.types_of_repair__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondary__header {    
    text-align: center;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
    margin: 0 0 13px 0;
}
.secondary_section__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 0 31px 0;
}
.types_of_repair__card_block {
    display: grid;
    grid-template-columns: repeat(3, 392px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 311px;
}
.types_of_repair__card {
    
}
.types_of_repair__card__description {
    display: flex;
    flex-direction: column;
    position: relative;         
}
.types_of_repair__card__description__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 284px;
    left: 31px;
    width: 330px;
    height: 286px;
    flex-shrink: 0;
    background-color: #ffffff;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03)
    
}
.types_of_repair__card__header {
    color: #363636;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 24.948px */
    margin: 25px 0 13px 34px;
}
.types_of_repair__list {
    margin: 0 0 23px 46px;
}
.types_of_repair__item {
    list-style-type: disc;
    color: #959595;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%; /* 26.598px */
}
.types_of_repair__link {
}
.types_of_repair__price_btn {
    width: 228px;
    height: 54px;
    flex-shrink: 0;
    background: #E3B873;
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
    border: none;
    color: #FFF;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 24.948px */
    text-transform: uppercase;;
}
.measurer_request {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("images/measurer_request_advantages_background.svg");
    background-repeat: no-repeat;
    gap: 207px;
}
.measurer_request__advantages {
    display: flex;
    flex-direction: column;
    max-width: 1006px;
}
.measurer_request__advantages__list {
    display: flex;
    flex-direction: column;
    margin: 118px 0 55px 0;
    gap: 50px;    
}
.measurer_request__advantages__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.measurer_request__advantages__point {
    display: flex;
    position: relative;
    height: fit-content;
}
.point__value {
    position: absolute;
    top: 28px;
    left: 35px;
    color: #FFF;
    text-align: center;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 24.948px */
}
.measurer_request__advantages__text {
    color: #363636;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.measurer_request__submit_section {
    display: flex;
    flex-direction: column;
    margin: 118px 0 0 0;
    background-color: #131313;
    padding: 28px 49px 0 49px;
    min-width: 506px;    
}
.measurer_request__submit_section__description {
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%; /* 25.78px */
    padding: 8px 0 8px 0;
}
.measurer_request__submit_section__data_input_section {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.call_the_measurer_btn__direction {
    display: flex;
    justify-content: end;
}
.discount {
    display: flex;
    align-items: center;
}
.discount_description {
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%; /* 25.78px */
}
.wildest_fantasies {
    margin-top: 243px;
    margin-bottom: 70px;
}
#wildest_fantasies_slider_left {
    top: 10%;
    left: 3%;   
}
#wildest_fantasies_slider_right {
    top: -118px;
    right: 3%;    
}
#wildest_fantasies__header {
    margin: 0 0 24px 0;
}
.wildest_fantasies__background {
    display: flex;
    height: 864px;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),
                url(images/wildest_fantasies_background.svg) center/cover;
    background-repeat: no-repeat;
}
.wildest_fantasies__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -976px; 
}
.wildest_fantasies__text {
    display: flex;
    flex-direction: column;
    max-width: 587px;    
}
.wildest_fantasies__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    gap: 25px;
    list-style: none;
    cursor: pointer;
}
.wildest_fantasies__link {
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%; /* 38.192px */
}
.wildest_fantasies__link:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}
.wildest_fantasies__photos__contsiner {
    display: flex;
    gap: 40px;
}
.wildest_fantasies__photos {
    display:flex;
    flex-direction: column;
    height: 1022px;
    gap: 40px;
}
.column_left {
    justify-content: flex-end;
}
.column_right {
    justify-content: flex-start;
}
.our_clients__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255, 251, 251, 0.95), rgba(255, 255, 255, 0.95)),
                url(images/our_clients_background.svg) center/cover;
    padding-bottom: 220px;
}
.our_clients__description {
    display: flex;
    justify-content: center;
    color: #363636;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 29.462px */
}
.our_clients__card_block {
    display: grid;
    grid-template-columns: repeat(3, 376px);
    gap: 54px;
    justify-content: center;
    margin-bottom: 159px;
    margin-top: 39px;
}
.our_clients__card {
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
    padding: 25px 25px 0 25px;
    position: relative;
    height: 428px;
}
.client {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.client_name {
    color: #181818;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.05%; /* 22.869px */
}
.client_feedback {
    color: #959595;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 23.4px */
}
.client__repair_data {
    display: flex;    
    width: 294px;
    height: 54px;
    background-color: #E3B873;
    justify-content: space-evenly;
    position: absolute;
    top: 94%;
    left: 0%;    
}
.client__repair_data__small_block {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.client__repair_data__small_block__text {
    color: #FFF;
    font-family: Yeseva One;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 23.562px */
    text-transform: uppercase;
}
.questions_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -233px;
    margin-bottom: -233px;
}
.questions_section__container {
    display: flex;
    flex-direction: column;    
    gap: 48px;
    padding: 35px 182px 35px 182px;
    background-color: #131313;
}
.questions__submit_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
}
#question_data_input {
   width: 392px;
}
.adress__section {
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),
                url(images/adress_section_background.svg) center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 56px;
    gap: 26px;
    padding-top: 266px;
}
#adress {
    font-size: 18px;
}
.map_container {
    display: flex;    
}
.map {
    width: 770px;
    height: 465px;
}
.footer-height-133 {
    height: 133px;
}
@media (min-width: 1301px) and (max-width: 2499px) {
    .completed_projects__w375_image,
    .no_display_w376 {
        display: none;
    }
}
@media (min-width: 2500px) {
    .online_control__section,
    .types_of_repair__section,
    .our_clients__section,
    .questions_section,
    .adress__section,
    .footer {
    display: none;
    }
    .hero-block {
        margin-left: 23.5%;
    }
    .header {
        padding-left: 23%;
        padding-right: 23%;
        justify-content: space-between;
    }
    
}
@media (max-width: 1300px) {
    .footer,    
    .header-footer__nav,
    .header-footer__call_request_btn,
    .no_display_w375,
    .completed_projects__image_block,
    .completed_projects__slider,
    .measurer_request,
    .wildest_fantasies__background,
    .wildest_fantasies__container,
    .our_clients__section {
        display: none;
    }
    .hero,
    .completed_projects__section {
        margin: 0;
        padding: 42px;
    }
    .header-footer__logo,
    .header-footer__tel__link {
        font-size: 23px;
    }

    .hero__header {
        margin: 85px 0 16px 0;
        font-size: 53px;
    }
    .city_highlight {
        font-size: 53px;
    }
    .hero__text {
        font-size: 33px;
        max-width: fit-content;
    }    
    .hero__buttons_container {
        flex-direction: column;
        margin: 0 0 68px 0;
        gap: 42px;
    }
    .hero_btn {
        width: auto;
        font-size: 23px;
        height: 100px;
    }
     
    .main_block__header {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 51px;
        margin: 36px 0 22px 0;
    }
    .main_block__description {
        text-align: center;
        font-size: 25px;
    }
    .completed_projects__description {
        max-width: 768px;
    }    
    .w375_image{
        min-width: 680px;
        max-width: 768px;
    }
    .w375_image_slider,
    .secondary_section__logo,
    .online_control__separator,
    .fake,
    .adress__section__links {
        transform: scale(2.3);
    }
    .fake {
        margin-right: 20px;
    }

    #submit_btn_online_control,
    #submit_btn_questions {
        width: 684px;
        height: 100px;        
        font-size: 30px;
    }
    #submit_btn_online_control {
        margin-top: -50px;
    }
    #submit_btn_questions{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .secondary_section__logo {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .left {
        top: -48%;  
    }
    .right {
        left: 88%;
        top: -55%;
    }
    .completed_projects__secondary_group {
        margin-top: 10px;
        grid-template-columns: 280px auto;
        grid-template-rows: 210px 180px;
        padding: 0;
    }
    .secondary_block__header {
        font-size: 33px;
    }
    .broadcast_request {
        background-color: #131313;
    }
    .secondary_block__description,
    .broadcast_request_description__text {
        font-size: 20px;
        color: #ffffff;               
    }
    .secondary__header {
        font-size: 46px;
    }
    .broadcast_request_description {
        margin-bottom: 61px;
    }
    video {
        max-width: 680px;
    }
    .broadcast_request__submit_section {
        flex-direction: column;        
    }
    .online_control__section {
        background-color: #131313;
        padding: 42px;
    }
    .online_control__background {
        display: none;
    }
    .online_control__personal_data_processing_agreement {
        margin-top: 15px;
        padding: 40px 0 40px 10px;
        justify-content: flex-start;
    }
    .online_control__container {
        padding-bottom: 0%;
        margin-top: 0;       
    }
    .input_designator {
        font-size: 23px;
    }
    .input_field,
    .checkbox_text {
        font-size: 26px;
        height: 40px;        
    }
    .types_of_repair__section {
        padding: 58px 42px 0 42px;
    }
    .types_of_repair__card_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        gap: 330px;
    }
    .types_of_repair__card {        
        margin-bottom: 59px;        
    }
    .types_of_repair__card_img {        
        min-width: 680px;
    }
    .types_of_repair__card__description__text {
        width: 490px;
        height: 430px;
        top: 490px;
        left: 0;

    }
    .types_of_repair__card__header {
        font-size: 35px;
        margin: 21px 0 10px 44px;
    }
    .types_of_repair__list {
        margin: 0 0 30px 70px;
    }
    .types_of_repair__item {
        font-size: 24px;
        line-height: 169.8%;
    }
    .types_of_repair__price_btn {
        width: 325px;
        height: 85px;
        font-size: 26px;
    }
    .wildest_fantasies {        
        z-index: 1;
        margin-bottom: -40px;
        display: flex;
        flex-direction: column;
        align-items: center;              
    }
    #wildest_fantasies_slider_right {
        top: -260px;        
    }
    #wildest_fantasies_slider_left {
        top: -226px;
        left: 5%;
    }
    .questions_section {
        margin-top: -245px;
    }
    .questions_section__container {
        padding: 270px 42px 35px 42px;
        align-items: center;
    }
    .data_input__container {
        justify-content: center;
    }
    .long_border {
        width: 670px;
    }
    .map {
        width: 680px;
        height: 550px;
    }
    .adress__section {
        padding: 266px 18px 18px 18px;
        background-image: none;
        background-color: #131313;
    }
    #adress {
        font-size: 40px;
        margin-top: 10%;
    }
    .adress__section__links {
        margin: 5% 0 10% 0;
    }
}