.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 83px;
    background-color: black;
    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-size: 11px;
}
.header__logo {
    color: #E3B873;
}
.header__nav {
}
.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    list-style: none;
    cursor: pointer;
}
.header__item {
}
.header__link {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 11px;
}
.header__tel__link {
    color: #E3B873;
    border: none;
    font-size: 11px;
    cursor: pointer;
}
.header__link:hover,
.header__tel__link:hover {
    color: #ff9d00;
}
.header__call_request_wrapper {  
}
.header__call_request_btn {
    width: 161px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #000;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.header__call_request_btn:hover {
    background: #ff9d00;
    cursor: pointer;
}
.hero {
    background-color: #7a7a7a;
    /*display: flex;*/
    margin-left: 134px;
}
.hero__header {
    color: #FFF;
    font-family: Yeseva One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%; /* 53.13px */
    text-transform: uppercase;
    margin: 194px auto 19px 0;
}
.city_highlight {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%;
    text-transform: uppercase;
}
.hero__text {
    color: #FFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 36.01px */
    margin: 0 0 41px 0;
}
.hero__buttons_container {
    display: flex;
    gap: 20px;
    margin: 0 0 208px 0;
}

.hero_btn {
    width: 207px;
    height: 51px;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    
}
.hero_btn:hover {
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    cursor: pointer;
}
.completed_projects__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    /*margin-left: 134px;*/
    /*gap: 50px;*/
    background-color: #7a7a7a;
}
.completed_projects__description {
    display: flex;
    flex-direction: column;
    max-width: 442px;
}

.completed_projects__description__main_block {
    
}
.main_block__header {
    color: #E3B873;
    font-family: Yeseva One, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 37.422px */
    letter-spacing: -1.89px;
    text-transform: uppercase;
    margin: 176px 0 34px 0;
}
.main_block__description {
    color: #FFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%; /* 26.734px */
    margin: 0 0 42px 0; 
}
.completed_projects__secondary_group {
    display: grid;
    grid-template-columns: 156px auto;
    grid-template-rows: 107px 134px;
    
}
.completed_projects__secondary_block {

}
.secondary_block__header {
    color: #E3B873;
    font-family: Yeseva One, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 24.948px */
    text-transform: uppercase;
}
.secondary_block__description {
    color: #FFF;
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 21.278px */
}
.completed_projects__slider {
}
.completed_projects__nav {
    margin: 107px 0 53px 0;
}
.completed_projects__nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style: none;
    cursor: pointer;
}
.completed_projects__nav__item {
}
.completed_projects__link {
    color: rgba(255, 255, 255, 0.30);
    font-family: Yeseva One, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 19.404px */
    text-transform: uppercase;
    text-decoration: none;
    border: none;      
}
.completed_projects__link:hover {
    color: #E3B873;
    font-family: Yeseva One, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 19.404px */
    text-transform: uppercase;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 7px;
   
}
.completed_projects__item {
}
.completed_projects__image_block {
    display: flex;
    flex-direction: column;    
}
.completed_projects__img {
    display: flex;
    max-width: 679px;
    /*max-height: 482px;
    overflow: hidden;*/
}
.online_control__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #7a7a7a;
    margin: 0 0 12px 0;
}
.online_control__header {
    color: #FFF;
    text-align: center;
    font-family: Yeseva One, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
    margin: 0 0 13px 0;   
}
.secondary_section_logo {
    display: flex;
    gap: 8px;
    margin: 0 0 31px 0;    
}
.online_control__video {
    
}
.online_control__video_wrapper {
    margin: 0 0 31px 0;
}
.video__item {
}
.online_control__play_btn {
}
.play_btn__image {
}
.online_control__separator {
}
.broadcast_request {
    display: flex;
    flex-direction: column;
}
.broadcast_request_description {
    display: flex;
    flex-direction: row;
    max-width: 681px;
    margin: 35px 0 93px 0;
}
.broadcast_request_description__text {
    color: #363636;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%; /* 36.828px */
}
.broadcast_request__submit_section {
    display: flex;
    flex-direction: row;
    gap: 58px;
}
.broadcast_request__submit_section__data_input {
    display: flex;
    flex-direction: column;
}
.input_designator {
    color: rgba(54, 54, 54, 0.50);
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 21.278px */
}
.input_field {
    appearance: none;
    border: none;
    border-bottom: 1px solid #3636364D;
    height: 17px;
    margin-bottom: 8px;
    background-color: transparent;
    color: #363636;
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 22.915px */

}
.submit_btn {
    width: 200px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #ffffff;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.submit_btn:hover {
    background: #ff9d00;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    cursor: pointer;
}
.personal_data_processing_agreement {
    display: flex;
    justify-content: center;
    margin: 39px 0 148px 0;
}
.checkbox{
    cursor: pointer;
}
.checkbox_label{
    color: #181818;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 22.915px */
}

.types_of_repair__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.types_of_repair__header {
    color: #181818;
    text-align: center;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
    margin: 0 0 13px 0;
}
.secondary_section__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 0 31px 0;
}
.types_of_repair__card_block {
    display: grid;
    grid-template-columns: repeat(3, 392px);
    gap: 30px;
    justify-content: center;
}
.types_of_repair__card {
    
}
.types_of_repair__card__description {
    display: flex;
    flex-direction: column;
    position: relative;
    /*padding-left: 34px;*/    
}
.types_of_repair__card__description__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 284px;
    left: 31px;
    width: 330px;
    height: 286px;
    flex-shrink: 0;


    
}
.types_of_repair__card__header {
}
.types_of_repair__list {
}
.types_of_repair__item {
}
.types_of_repair__link {
}
.types_of_repair__price_btn {
}
.measurer_request {
}
.measurer_request__advantages {
}
.measurer_request__advantages__background {
}
.measurer_request__advantages__img {
}
.measurer_request__advantages__list {
}
.measurer_request__advantages__item {
}
.measurer_request__advantages__point {
}
.point__img {
}
.point__value {
}
.measurer_request__advantages__text {
}
.measurer_request__submit_section {
}
.measurer_request__submit_section__description {
}
.measurer_request__submit_section__data_input {
}
.call_the_measurer__btn {
}
.discount {
}
.discount__img {
}
.discount_description {
}
.wildest_fantasies {
}
.wildest_fantasies__text {
}
.wildest_fantasies__list {
}
.wildest_fantasies__item {
}
.wildest_fantasies__link {
}
.wildest_fantasies__photos {
}
.Fantasy_1 {
}
.Fantasy_2 {
}
.Fantasy_3 {
}
.Fantasy_4 {
}
.our_clients__section {
}
.our_clients__header {
}
.our_clients__description {
}
.our_clients__card_block {
}
.our_clients__card {
}
.client {
}
.client_avatar {
}
.avatar_img {
}
.client_name {
}
.client_feedback {
}
.client__repair_data {
}
.client__repair_data__small_block {
}
.client__repair_data_img {
}
.client__repair_data__small_block__text {
}
.questions_section {
}
.questions_section__header {
}
.questions__submit_section {
}
.questions__submit_section__data_input {
}
.adress__section {
}
.adress__section__header {
}
.adress__section__links {
}
.map {
}
.footer {
}